.register{
    box-sizing: border-box !important;
    transition: 0.5s;
    margin: 5px;
    line-height: 1.5;
    width: 100%;

    border:0.5px solid #cec5c5f2;

}
.register:focus{
    border: 0.5px solid #59b9ff;
}
.register_button{
    background-color: #ffffff;
    color: black;
    border: 2px solid #0c264f;
    padding: 5px 20px;
}
.register_button:hover{
    background-color: #0c264f;
    color: white;
    padding: 5px 20px;
}
.register-field-label{
    font-size: 1.5rem;
    /*text-align: center;*/
    margin-top: 5px;
}

.register-radio-button{
    line-height: 3.0;
    padding-left: 49px;
}

.register-button-container{
    text-align: center;
    padding-top: 20px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 0 !important;
}
.register-header{
    text-align: center;
    font-size: x-large;
    margin-top: 60px;

}
.error-text{
    text-align: left;
    font-size: small;
    color: #e21111;
    height: 20px;
}
.container-width{
  background-image: linear-gradient(-90deg, #185a9d, #43cea2);
  color:#185a9d;
  font-family: 'Exo 2', sans-serif;


}
.col-md-8{
    background-color:white;
}
.col-md-12{
    padding-bottom: 5px;
}
.members{
    margin-top: 5px;
    margin-bottom: 25px;
}


.navbar button{
    margin: 10px;
    border-radius: 0px;
    height: 40px;
    background: transparent;
}
.navbar{
    background: #b6fbff;
    border-bottom: none;
    padding-bottom: 6px;
}
/*.scrolled .navbar-collapse ul li{
    background:#79cbca;
}*/


#first{
    min-height: 110vh;
    background: #00bf8f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a8c0ff, #3f2b96),url('images/') no-repeat center;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#a8c0ff, #3f2b96),url('images/') no-repeat center ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scrolled {
    background: #8f94fb;
    opacity: 0.8;
    color:whitesmoke;
}
.scrolled button{
    color: whitesmoke;
}


@media all and (max-width:768px) {
    ul li:hover {
        background: rgba(221, 220, 220, 0.404)
    }
}