body {
    position: relative;
    width: 100%;
}
:root{
    --blue:#1d66af;
}


.navbar button {
    margin: 10px;
    border-radius: 0px;
    height: 50px;
    background: transparent;
}

.navbar {
    background: transparent;
    border-bottom: none;
}

#first {
    min-height: 110vh;
    background: #e78001;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */


/*    background: -webkit-gradient(linear, right top, left top, from(#ec8302),to(#e78001));
    background: linear-gradient(to left, #ec8302, #e78001);
*/
 background-image: -webkit-gradient(linear, right top, left top, from(#185a9d), to(#43cea2));
 background-image:linear-gradient(-90deg, #2b71bb, #4fe8b8);


    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box {
    padding: 20px;
    height: 120px;
    border: 2px solid #a8c0ff;
    font-family: 'Abel';
    color: whitesmoke;
    background-color: #1d66af;
    margin-bottom: 10px;
    font-size: 2em;
    word-wrap: break-word;
}

.box1 {
    height: 100%;
    padding: 5px;
    border: 2px solid #a8c0ff;
    border-top: 0px;
    background-color: whitesmoke;
    font-family: 'Exo 2', sans-serif;
    width: 100%;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.logo {
    width: 60px;
    height: 60px;
    -ms-flex-line-pack: top;
        align-content: top;
    margin-top: -10px;
}

.jumbotron h1 {
    font-size: 10em;
    ;
    color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
}

.jumbotron h3 {
    font-size: 3em;
    color: #0d2c5a;
    font-family: 'Exo 2', sans-serif;
}

.jumbotron {
    padding-top: 160px;
    background: transparent;
}

.jumbotron .col-xs-10 {
    font-size: 3em;
    font-family: 'Exo 2', sans-serif;
}

.img_box {
    -webkit-box-shadow: 0 -100px 1000px rgb(3, 243, 3);
    box-shadow: 0 -100px 1000px rgb(3, 243, 3);
}

#hack_text {
    letter-spacing: 1px;
    font-size: 2em;
    margin-top: -150px;
    text-shadow: 0 5px 2px black,0 5px 5px blue;
}

.fa-google {
    font-size: 4em;
    text-decoration: none;
    text-align: center;
}

.fa-google:hover {
    text-decoration: none;
    color: #1A90FF;
}

.scrolled {
    background: whitesmoke;
    color: orange;
}

.scrolled button {
    color: orange;
}

.scrolled a {
    color: black;
    text-shadow: none;
}

#second h1 {
    font-size: 5em;
    color: #00bf8f;
    text-shadow: 0 0 10px blue;
    font-family: 'Anton', sans-serif;
}

#second h3 {
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 0 0 10px wheat;
    font-family: 'Kavivanar', cursive;
}

#third {
   width: 100%;
}

#third h2 {
    margin: 0px;
}

#third h1 {
    font-family: 'Abel';
    color: #3f2b96;
    font-size: 60px;
    font-weight: 600;
}

.faqs {
    cursor: pointer;
}

.img {
    top: -50px;
}

.jumbotron h5 {
    font-size: 1.5em;
}

.jumbotron button {
    font-size: 2em;
    background-color: transparent;
    border: none;
}
.jumbotron button a {
    /*font-size: 0.8em;*/
    background-color: transparent;
    border: 3px outset #037BB4;
    /*width: 100%;*/
}

li button {
    font-size: 0.5em;
    background-color: rgba(2, 17, 29, 1);
    border: none;
}

.item {
    margin-top: 1%;
    color: white;
    text-shadow: 0 0 10px black;
}

.item1 {
    margin-top: -16%;
}

#fifth {
    margin-top: 5%;
    margin-bottom: 5%;
}

#sixth {
    font-family: 'Exo 2', sans-serif;
    color: #0d2c5a;
}

.seventh {
    height: auto;
    padding-left: 10%;
}

iframe {
    width: 100%;
}
.size_extend{
    width: 350px;
    height: 350px;
}
#sixth p {
    text-align: justify;
    margin: 0% 10%;
    line-height: 1.8em;
}

#footer a {
    color: #F99007;
    text-shadow: 0 0 5px black;
}

#footer a:hover {
    color: #037BB4;
}

body {
    display: initial;
}

.card {
    text-align: center;
    width: 300px;
    border: 1px solid grey;
    -webkit-box-shadow: 4px 9px 20px 2px rgba(176, 169, 176, 0.98);
    box-shadow: 4px 9px 20px 2px grey/*rgba(176,169,176,0.98)*/
    ;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.card2 {
    text-align: center;
    width: 300px;
    border: 1px solid grey;
    -webkit-box-shadow: 4px 9px 20px 2px rgba(176, 169, 176, 0.98);
    box-shadow: 4px 9px 20px 2px grey/*rgba(176,169,176,0.98)*/
    ;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.card:hover {
    border: 2px solid #8f94fb;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(176, 169, 176, 0.78);
    box-shadow: 2px 4px 10px 1px rgba(176, 169, 176, 0.78);
}
.card2:hover {
    border: 2px solid #8f94fb;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(176, 169, 176, 0.78);
    box-shadow: 2px 4px 10px 1px rgba(176, 169, 176, 0.78);
}
.button_front {
    margin-top: 5%;
    padding: 2px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: 1.5px solid rgb(0, 247, 255);
    border-radius: 0px;
    /*font-weight: bold;*/
    font-family: 'Abel';
    color: white;
    text-shadow: 0 0 5px black;
    font-weight: bolder;
    letter-spacing: 1px;
    -webkit-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: 0 0 1px black;
}
.big_size{
    width:200px;
    font-size: 30px;
}

.button_front:hover,
.button_front:focus {
    border: 2px solid #cfd9df;
    color: whitesmoke;
    background-position: right center;
    -webkit-box-shadow: inset 5.5em 0 0 0 #1d66af;
    box-shadow: inset 5.5em 0 0 0 #1d66af;
}
.big_size:hover{
    -webkit-box-shadow: inset 18.5em 0 0 0 #1d66af;
    box-shadow: inset 18.5em 0 0 0 #1d66af;
}
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 33%;
}

footer {
    background: #000000;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left bottom, left top, from(#434343), to(#000000));
    background: linear-gradient(to top, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: wheat;
    text-shadow: black 0 0 1px;
}

.col {
    min-height: 30vh;
}

.col i {
    font-size: 5.5em;
    text-align: center;
    margin-top: 7vh;
}

.col-xs-5 i {
    font-size: 2em;
    margin: 5px;
    cursor: pointer;
}

footer .form-group button {
    margin-top: 5px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.card img {
    background-position: center;
}

.card h2 {
    /*text-transform: uppercase;*/
    font-family: 'Quicksand';
    font-size: 25px;
    font-weight: bold;
    color: grey;
}

.content {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Abel';
    letter-spacing: 1px;
    font-weight: bolder;
}
#sixth .about{
    background: rgba(33, 19, 235, 0.11)
}
.location{
    font-family: 'Abel';
    color: #3f2b96;
    font-size: 60px;
    font-weight: 600;
}
.prize{
    font-family: 'Abel';
    color: #3f2b96;
    font-size: 60px;
    font-weight: 600;
}
.organize{
    font-family: 'Abel';
    color: #3f2b96;
    font-size: 60px;
    font-weight: 600;
}
@media all and (max-width:768px) {
    #second h3 {
        font-size: 2.3em;
        text-shadow: 0 0 10px wheat;
        font-family: 'Kavivanar', cursive;
    }
    .jumbotron h1 {
        font-size: 6em;
        color: rgb(255, 255, 255);
        font-family: 'Anton', sans-serif;
    }
    .learn_more {
        display: none;
    }
    #hack_text {
        letter-spacing: 1px;
        font-size: 1.5em;
        margin-top: 10px;
        text-shadow: inherit;
    }
    .box1{
        width:100%;
    }
    .jumbotron .col-xs-10 {
        font-size: 1em;
        font-family: 'Exo 2', sans-serif;
    }
    .fa-envelope {
        font-size: 2em;
        text-decoration: none;
        text-align: center;
    }
    #third h1 {
        font-size: 30px;
    }
    .card {
        width: 100%;
        margin-top:30px;
    }
    .card2 {
        width: 100%;
        margin-top:30px;
    }
    .box {
        padding: 20px;
        height: 100px;
        width: 100%;
        border: 2px solid #a8c0ff;
        font-family: 'Abel';
        color: whitesmoke;
        background-color: var(--blue);
        margin-bottom: 10px;
        font-size: 2em;
        word-wrap: break-word;
    }
    .card_row {
        margin-left: 0;
        margin-right: 0;
    }
    #third .col-xs-6 {
        float: none;
    }
    .box1 {
        width:100%;
    }
    #sixth p {
        text-align: justify;
        line-height: 1.2em;
        margin: 0;
    }
    .scrolled {
        background:whitesmoke;
    }
    ul li {
        background: rgba(34, 241, 231, 0.315);
    }
    ul li:hover {
        background: rgba(63, 228, 198, 0.712);
    }
}

@media only screen and (max-width:992px) and (min-width: 768px) {
    #hack_text{
        font-size:1.5em;
        margin-top:-100px;
        text-shadow: 0 5px 2px black,0 5px 5px blue;

    }
    #third .box {
        padding: 20px;
        height: 120px;
        width: 100%;
        border: 2px solid #a8c0ff;
        font-family: 'Abel';
        color: whitesmoke;
        background-color:var(--blue);
        margin-bottom: 10px;
        font-size: 2em;
        word-wrap: break-word;
    }
    #sixth p {
        text-align: justify;
        line-height: 1.2em;
    }
    .box1 {
        width:100%;
    }
    #third .col-xs-6 {
        float: none;
    }
    .card {
        margin-left: 12%;
        margin-top:20px;
        width: 70%;
    }
    .row {
        margin-left: 0px;
    }


    /*.container{
        padding-left: 5%;
    }*/
    .col-sm-12{
        padding-left: 6%;

    }
    .card2 {
        text-align: center;
        margin: 30px;
        width: 300px;
        border: 1px solid grey;
        -webkit-box-shadow: 4px 9px 20px 2px rgba(176, 169, 176, 0.98);
        box-shadow: 4px 9px 20px 2px grey/*rgba(176,169,176,0.98)*/
        ;
        overflow: hidden;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .size_extend{
        width: 300px;
        height: 350px;
    }
}


@media only screen and (max-width:420px)  {

    #third .box {
        padding: 10px;
        height: 80px;
        width: 100%;
        border: 2px solid #a8c0ff;
        font-family: 'Abel';
        color: whitesmoke;
        background-color:var(--blue);
        margin-bottom: 10px;
        font-size: 1.5em;
        word-wrap: break-word;
        margin-bottom: 0px;
    }
    /*#third .col-xs-6 {
        padding-left: 8px;
    }
    #third .row {
        margin-left: 0;
    }*/
    .box1 {
        width: 100%;
    }
    #fourth .content h2 {
        margin-top: 10px;
    }
    .card_row {
        margin-left: 0;
        margin-right: 0;
    }
    .card {
        margin-left: 1%;
    }
    #sixth p {
        text-align: justify;
        line-height: 1.2em;
    }
    .scrolled button {
        background: whitesmoke;
        color: orange;
    }
    .scrolled button {
        color: orange;
    }
    /*.col-sm-12{
        padding-left: 0%;

    }*/
    /*#fourth .container{
        padding-left: 5%;
    }*/
    .big_size{
        width: 100px;
    }
}

@media only screen and (max-width:320px) {

    #third .box {
        padding: 10px;
        height: 80px;
        width: 260px;
        border: 2px solid #a8c0ff;
        font-family: 'Abel';
        color: whitesmoke;
        background-color: rgb(241, 159, 34);
        margin-bottom: 10px;
        font-size: 1.5em;
        word-wrap: break-word;
        margin-bottom: 0px;
    }
    /*#third .col-xs-6 {
        padding-left: 8px;
    }
    #third .row {
        margin-left: 0;
    }*/
    .box1 {
        width: 260px;
    }
    #fourth .content h2 {
        margin-top: 10px;
    }
    .card_row {
        margin-left: 0;
        margin-right: 0;
    }
    .card {
        margin-left: 0px;
        width: 280px;
    }
    #sixth p {
        text-align: justify;
        line-height: 1.2em;
    }
    .scrolled button {
        background: whitesmoke;
        color: orange;
    }
    .scrolled button {
        color: orange;
    }
    /*.col-sm-12{
        padding-left: 0%;

    }*/
    #fourth .container{
        padding-left: 2px;
    }
}
