.navbar button{
    margin: 10px;
    border-radius: 0px;
    height: 40px;
    background: transparent;
}
.navbar{
    background: #000000;
    border-bottom: none;
}

#first{
    min-height: 110vh; 
    background: #00bf8f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a8c0ff, #3f2b96),url('images/') no-repeat center;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#a8c0ff, #3f2b96),url('images/') no-repeat center ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.jumbotron h1{
    font-size: 10em;;
    color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
}
.jumbotron h3{
    font-size: 2em;
    color: white;
    font-family: 'Kavivanar', cursive;
}
.jumbotron{
    padding-top: 200px;
    background: transparent;
}
.jumbotron .col-xs-10{
    color: white;
    font-family: 'Kavivanar', cursive;
}


.scrolled {
    background: black;
    opacity: 0.8;
    color:whitesmoke;
}
.scrolled button{
    color: whitesmoke;
}


#second {
    height: 100vh;
    background: url("images/Gujarat-stub.png") no-repeat right ;
}
#second h1{
    font-size: 5em;
    color:  #00bf8f;
    text-shadow: 0 0 10px blue;
    font-family: 'Anton', sans-serif;
}
#second h3{
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 0 0 10px wheat;
    font-family: 'Kavivanar', cursive;
}
#third{
    height: 100vh;
}
.faqs{
    cursor: pointer;
}
.img{
    top: -50px;
}
.jumbotron h5{
    font-size: 1.5em;
}
.jumbotron button{
    font-size: 2em;
    padding-left: 10vw;
    padding-left: 10vw;
}
.item{
    margin-top:1%; 
}
.item1{
    margin-top: -16%;
}

/*.wrapper{
    position: relative;
}
.item{
    position: absolute;

}
.item1{
    left: 15vw;
    margin-top: -30px;
}
.item2{
    top: 40vh;
    left: 33vw;
}
.item3{
top: 52vh;
left:34vw;
}*/
#fifth{
margin-top: 5%;
margin-bottom: 5%;
}


@media all and (max-width:768px){
    #second h3{
        font-size: 2.3em;
        text-shadow: 0 0 10px wheat;
        font-family: 'Kavivanar', cursive;
}
.jumbotron h1{
    font-size: 6em;;
    color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
}
.learn_more{
   display: none;
}
ul li:hover{
    background: rgba(221, 220, 220, 0.404)
}
}

body{
display: initial;
}

.card{
  width:300px;
  height: 300px; 
  padding: 20px 50px;
  margin: 40px;
  border:1px solid grey;
  -webkit-box-shadow: 4px 9px 20px 2px rgba(176,169,176,0.98);
  -moz-box-shadow: 4px 9px 20px 2px rgba(176,169,176,0.98);
  box-shadow: 4px 9px 20px 2px grey/*rgba(176,169,176,0.98)*/;
  float: left;
  overflow: hidden;
}
.card:hover {
   border:2px solid #8f94fb;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(176,169,176,0.78);
  -moz-box-shadow: 2px 4px 10px 1px rgba(176,169,176,0.78);
  box-shadow: 2px 4px 10px 1px rgba(176,169,176,0.78);

}
.card:hover .above_card{
    opacity: 1;
    display: inherit;
}
.card:hover img{
    opacity: 0.4;
    transition: 0.5s ease;
}
.card:hover .content{
    display: none;
}
.card img{
    background-position: right center;
}
.card h2{
    /*text-transform: uppercase;*/
    font-family: 'Quicksand';
    /*font-weight: bold;*/
    color:grey;
}
.above_card{
  transition:all .8s ease-in-out;
  opacity: 0;
  display: none;
  position: relative;
  top: 280px;
  left: 80px;
  -webkit-transform: translate(-40%,-200%);
  -moz-transform: translate(-40%, -200%);
}
.content{
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-family: 'Abel';
}
@media only screen and (max-width:1000px){
    .card{
        margin-left:100px;
    }
}
.button_front{
  margin-top:5%;
  padding: 2px;
  width:100px;
  text-align: center;
  font-size:20px;
  border:3px solid #ffffff;
  border-radius:0px;
  /*font-weight: bold;*/
  font-family:'Abel';
  color: white;
  transition:ease-in-out 0.8s;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
 }

.button_front:hover,
.button_front:focus {
  border:2px solid #cfd9df;
  color:whitesmoke;
  background-position: right center;
  -webkit-box-shadow: inset 5.5em 0 0 0 navy;
          box-shadow: inset 5.5em 0 0 0 navy;
}
.wrapper{
    display: flex;
}
.wrapper p{
    flex: 1;
    max-width: 33%;
}
footer{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


color: wheat;
text-shadow: black 0 0 1px;
}
.col{
    
    min-height: 30vh;
}
.col i{
    font-size: 5.5em;
    text-align: center;
    margin-top: 7vh;
}
.col-xs-5 i{
    font-size: 2em;
    margin: 5px;
    cursor: pointer;
}
footer .form-group button{
    margin-top: 5px;
}
